* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home {
 padding: 0%;
}
#about {
    padding-bottom: 100px;
    padding-top: 80px;
}
#formation1 {
    padding-top: 15px;
}
#formation2 {
    width: 50px;
}
#formation3 {
    height: 100px;
}
#skills {
    padding-top: 25px;
}
#skills1 {
    padding-top: 20px;
}
#flag1 {
    width: 150px;
}
#flag2 {
    width: 150px;
}
#flag3 {
    width: 150px;
}
#skills2 {
    padding-top: 20px;
}
p,
li,
h1,
h2,
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p,
li {
    font-size: large;
}