* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stili per su di me */

.clearfix {
    padding-top: 20px;
}
#image1 {
    align-items: flex-start;
}
#formation3 {
    height: 100px;
}

/* Stili per skills */

#skills {
    padding-top: 25px;
}
#skills1 {
    padding-top: 20px;
}
#flag1 {
    width: 150px;
}
#flag2 {
    width: 150px;
}
#flag3 {
    width: 150px;
}
#skills2 {
    padding-top: 20px;
}
#language1 {
    padding-top: 20px;
}

/* Stili per contattami */

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}

form {
    display: grid;
    grid-gap: 1em;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 0.5em;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}
p,
li,
h1,
h2,
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p,
li {
    font-size: large;
}